#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/games-strategy/wesnoth/files/wesnothd.rc,v 1.1 2005/10/20 20:16:27 mr_bones_ Exp $

depend() {
	use net
}

start() {
	[ -d /run/wesnothd ] || {
		mkdir /run/wesnothd
		chown wesnoth:wesnoth /run/wesnothd
	}

	ebegin "Starting wesnothd"
	start-stop-daemon --start --quiet -b -m \
		--pidfile /run/wesnothd/wesnothd.pid \
		-c wesnoth:wesnoth \
		--exec /usr/bin/wesnothd
	eend $?
}

stop() {
	ebegin "Stopping wesnothd"
	start-stop-daemon --stop --quiet --pidfile /run/wesnothd/wesnothd.pid
	eend $?
}

